/* -----Colors------- */
:root {
  --primary:#07A3B2;
  --primary-10: rgba(7, 163, 178, 0.1);
  --primaryhover:#20838c;
  --secondary: #D7FDFE;
  --textprimary: rgba(0,0,0,0.7);
  --textsecondary: rgba(0,0,0,0.5);
  --textdescription : rgba(0,0,0,0.65);
  --bodybg: #F1F7FF;
  --textlightcolor: #BBB9B9;
  --white: #ffffff;
  --black : #000000;
  --btnlight: #DEDFE1;
  --boxshadow: 0 3px 6px rgba(0, 0, 0, 0.125);
  --bghover: rgba(0, 0, 0, 0.05);
  --transparent: transparent;
  --line: #e9e5df;
  --grey:#f9f9f9;
  --bordergrey: #bdbdbd;
  --border: #e0dfdb;
  --red: #ff0000;
  --f-9: 9px;
  --f-10: 10px;
  --f-11: 11px;
  --f-12: 12px;
  --f-14: 14px;
  --f-16: 16px;
  --f-18: 18px;
  --f-20: 20px;
  --f-24: 24px;
}

/*----Font Sizes----*/
.f-9{font-size: 9px !important;}
.f-10{font-size: 10px !important;}
.f-12{font-size: var(--f-12) !important; line-height: 1.33333 !important;}
.f-14{font-size: var(--f-14) !important; line-height: 1.42857 !important;}
.f-16{font-size: var(--f-16) !important; line-height: 1.5 !important;}
.f-18{font-size: var(--f-18) !important}
.f-20{font-size: var(--f-20) !important;}
.f-24{font-size: var(--f-24) !important}

/*----Padding Utilities----*/
.p-0{padding: 0 !important;}
.p-4{padding: 4px;}
.p-8{padding: 8px;}
.p-16{padding: 16px;}
.p-12{padding: 12px !important;}
.pl-0{padding-left: 0px;}
.pl-4{padding-left: 4px;}
.pl-8{padding-left: 8px;}
.pl-16{padding-left: 16px;}
.pr-0{padding-right: 0px;}
.pr-4{padding-right: 4px;}
.pr-8{padding-right: 8px;}
.pr-12{padding-right: 12px;}
.pr-16{padding-right: 16px;}
.pt-0{padding-top: 0px;}
.pt-4{padding-top: 4px;}
.pt-8{padding-top: 8px;}
.pt-12{padding-top: 12px !important;}
.pt-16{padding-top: 16px !important;}
.pb-0{padding-bottom: 0px !important;}
.pb-4{padding-bottom: 4px;}
.pb-8{padding-bottom: 8px;}
.pb-12{padding-bottom: 12px !important;}
.pb-16{padding-bottom: 16px;}
.px-0{padding-left: 0 !important; padding-right: 0 !important;}
.px-4{padding-left: 4px; padding-right: 4px;}
.px-8{padding-left: 8px; padding-right: 8px;}
.px-12{padding-left: 12px !important; padding-right: 12px !important;}
.px-16{padding-left: 16px !important; padding-right: 16px !important;}
.py-0{padding-top: 0; padding-bottom: 0;}
.py-4{padding-top: 4px; padding-bottom: 4px;}
.py-8{padding-top: 8px; padding-bottom: 8px;}
.py-16{padding-top: 16px; padding-bottom: 16px;}

/*----Margin Utilities----*/
.m-0{margin: 0 !important;}
.m-4{margin: 4px;}
.m-8{margin: 8px;}
.m-16{margin: 16px !important;}
.m-auto, .m-auto ul{margin: auto;}
.ml-auto{margin-left: auto !important;}
.ml-0, .img-marginremove .ant-avatar{margin-left: 0px !important;}
.ml-4{margin-left: 4px;}
.ml-6{margin-left: 6px;}
.ml-8{margin-left: 8px;}
.ml-16{margin-left: 16px !important;}
.mr-0{margin-right: 0px !important;}
.mr-4{margin-right: 4px;}
.mr-8{margin-right: 8px !important;}
.m-12{margin: 12px !important;}
.mr-12{margin-right: 12px;}
.mr-16{margin-right: 16px;}
.mt-0{margin-top: 0px !important;}
.mt-4{margin-top: 4px;}
.mt-6{margin-top: 6px;}
.mt-8{margin-top: 8px !important;}
.mt-16{margin-top: 16px !important;}
.mt-12{margin-top: 12px;}
.mb-0{margin-bottom: 0px !important;}
.mb-4{margin-bottom: 4px !important;}
.mb-6{margin-bottom: 6px !important;}
.mb-8{margin-bottom: 8px !important;}
.mb-12{margin-bottom: 12px !important;}
.mb-16{margin-bottom: 16px !important;}
.mb-24{margin-bottom: 24px !important;}
.mx-0{margin-left: 0; margin-right: 0;}
.mx-4{margin-left: 4px; margin-right: 4px;}
.mx-8{margin-left: 8px; margin-right: 8px !important;}
.mx-12{margin-left: 12px; margin-right: 12px !important;}
.mx-16{margin-left: 16px; margin-right: 16px !important;}
.my-0{margin-top: 0; margin-bottom: 0;}
.my-4{margin-top: 4px !important; margin-bottom: 4px !important;}
.my-8{margin-top: 8px; margin-bottom: 8px;}
.my-16{margin-top: 16px; margin-bottom: 16px;}

/*--Color--*/
.text-secondary{color: var(--textsecondary)}

*{font-family: 'Neue Haas Grotesk Text Pro' !important;}
* { scrollbar-width: thin; scrollbar-color: var(--primary) var(--secondary);}
*::-webkit-scrollbar { width: 8px;}
*::-webkit-scrollbar-thumb {background-color: var(--primary);border-radius: 20px;}
body{background-color: #f3f2ef !important;}
html {--antd-wave-shadow-color:var(--primary) !important;}