.post-card .ant-card-meta-title, .post-title, .post-card .ant-card-actions li a, .post-comment .ant-comment-content-author-name,
.card-actions-count li{color: var(--textprimary) !important;}
.post-card .ant-card-meta-description, .post-desc, .post-comment .ant-comment-content-detail p, .post-comment .ant-comment-content-author-time{color: var(--textsecondary);}
.post-card .ant-card-actions li a:hover, .post-tag .ant-tag, .ant-dropdown-menu li :hover a{color: var(--primary) !important;}
.post-tag .ant-tag{background:var(--secondary);}
.card-actions-count li span{color:#9B9B9B;}
.grp-type-icon{background: url(../styles/images/icons.svg) no-repeat;}

:root {
    --primary:#07A3B2;
    --primaryhover:#20838c;
    --secondary: #D7FDFE;
    --textprimary:#272727;
    --textsecondary: #5D5D5D;
    --bodybg: #F1F7FF;
    --textlightcolor: #BBB9B9;
    --white: #ffffff;
    --black : #000000;
    --btnlight: #DEDFE1;
    --boxshadow: 0 3px 15px rgba(0, 0, 0, 0.06);
    --transparent: transparent;
  }