@import '../../styles/theme.css';
.post-card{box-shadow: var(--boxshadow);}
.post-card .ant-card-head{padding: 0 16px;}
.post-card .ant-card-meta-title {margin-bottom: 0 !important; font-size: 16px;}
.post-card .ant-card-head-title{padding: 19px 0 16px;}
.post-card .ant-avatar, .post-comment .ant-comment-avatar img {width: 40px; height: 40px;}
.post-card .ant-card-meta-description{font-size: 12px; font-weight: 400; margin-top: 3px;}
.post-card .ant-card-body{padding: 0;}
.post-card .ant-card-actions{border-radius: 0 0 10px 10px; background: #F9F9F9;}
.post-title, .post-card .ant-card-actions li a{font-weight: 500 !important;}
.post-card .ant-card-actions > li {margin: 0;}
.post-card .ant-card-actions li a{padding: 10px 16px;}
.post-tag .ant-tag{border-radius: 14px; min-height: 22px; font-weight: 500; border: none; cursor: pointer;}
.post-card .ant-card-meta-avatar, .share-popup .ant-card-meta-avatar{padding-right: 12px;}
.justify-content-between .ant-card-meta{margin: 3px 0 0;}
.post-icons{width: 20px;height: 20px;vertical-align: initial;display: inline-block;vertical-align: text-bottom; background: url(../../styles/images/icons.svg) no-repeat;margin-right: 5px;}
.post-icons.like-icon{background-position:  -150px -200px;}  
.post-icons.comment-icon{background-position: -177px -200px;}
.post-icons.share-icon{background-position: -205px -200px;}
.post-icons.more-icon{background-position: -235px -200px;}
.post-icons.send-icon{background-position: -265px -226px;}
.post-icons.sharenow-icon{background-position: -294px -200px;}
.post-icons.copylink-icon{background-position: -324px -200px;}
.post-icons.edit-icon{background-position: -64px -200px;}
.post-icons.notify-icon{background-position: -124px -200px;}
.post-icons.savepost-icon{background-position: -351px -200px;}
.post-icons.delete-icon{background-position: -377px -200px;}
.post-icons.more-icon:hover {background-position: -235px -226px;}
.post-card .ant-card-actions li a:hover .post-icons.like-icon{background-position:  -150px -226px;}
.post-card .ant-card-actions li a:hover .post-icons.comment-icon{background-position: -177px -226px;}
.post-card .ant-card-actions li a:hover .post-icons.share-icon{background-position: -205px -226px;}
.more-opt li:hover .post-icons.edit-icon{background-position: -64px -226px;}
.more-opt li:hover .notify-icon{background-position: -124px -226px;}
.more-opt li:hover .savepost-icon{background-position: -351px -226px;}
.more-opt li:hover .delete-icon{background-position: -377px -226px;}
.l-emojis{position: absolute; min-height: 48px; background: var(--white); box-shadow: var(--boxshadow); border-radius: 28px;min-width: 180px;left: 16px; top: -45px; list-style: none; display: flex;visibility: hidden; padding-left: 0;justify-content: space-around;align-items: center;cursor: default;}
.like-emojis:hover .l-emojis{ visibility: visible;}
.l-emojis li a{font-size: 24px;padding: 0 !important; transition: all .2s ease-in-out; cursor: pointer;}
.l-emojis li a:hover {transform: scale(1.6);}
.l-emojis li a img{width: 40px;}
.ant-dropdown-menu{min-width: 125px; border-radius: 5px;box-shadow: var(--boxshadow);}
.ant-dropdown-menu li a{font-weight: 500;}
.post-comment{background: var(--white);margin-bottom: 24px;border-radius: 0 0 10px 10px; display: none;}
.post-card.comment-show .post-comment,.post-preview-box.comment-show .post-comment{display: block;}
.post-card.comment-show .ant-card-actions{border-radius: 0;}
.post-comment .ant-form-item-control-input-content{position: relative;}
.post-btn{position: absolute; right: 4px; top: 4px;}
.post-comment .ant-input{height: 40px !important; border-radius: 5px; resize: none;padding-right: 60px;}
.post-comment .ant-comment-avatar img{border-radius: 13px;}
.post-comment .ant-comment-content-author-time{margin-left: auto;}
.post-comment .ant-comment-content-detail{font-size: 13px;}
.post-comment .ant-comment-content-author-time{font-size: 12px;}
.post-comment .ant-comment-content-author-name{font-size: 14px; font-weight: 500;}
.post-comment .ant-comment-inner {padding-bottom: 0;}
.card-actions-count{list-style: none; display: flex; align-items: center;}
.card-actions-count li{font-weight: 500; margin-right: 30px;font-size: 13px;}
.card-actions-count li span{font-size: 12px;font-weight: normal;}
.custom-dropdown{min-width: 300px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06); border-radius: 6px; padding: 8px;}
.custom-dropdown .ant-dropdown-menu-item {display: flex; align-items: center;padding: 8px; border-radius: 6px; font-weight: 500;}
.custom-dropdown li svg, .custom-dropdown li span {margin-right: 10px;}
.post-card .ant-avatar-group .ant-avatar-string{font-size: 16px; line-height: 38px; font-weight: 500;}
.post-image img{
    width:100%;height: auto;
}
.overlayimage{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.post-preview .ant-modal-content{
    height: 100vh;
    padding: 60px;
    background: var(--transparent);
}
.post-preview .ant-modal-content .ant-modal-close {
    top: 10px ;
    right: 10px;
}

.post-preview .ant-modal-content .ant-modal-close .ant-modal-close-x{
    background: var(--white);
    display: block;
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    border-radius: 11px;
}
.post-preview.ant-modal{
    top:0 !important;
    padding-bottom: 0 !important;
    max-width: calc(100vw - 20px) !important;
}
.post-preview.ant-modal .ant-modal-body{
    padding: 0 !important;
}
.post-preview .post-preview-box{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background: var(--black);
    border-radius: 15px;
}
.post-preview .post-preview-box .preview-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 120px); */
    flex-shrink: 1;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
    position: relative;

}
.post-preview .post-preview-box .preview-image img{
    width: 100%;
    height:auto;
    /* max-height: 100vh; */
   
}
.post-preview .post-preview-box .preview-content{
    height: calc(100vh - 120px);
    min-width: 360px;
    flex-shrink: 0;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    background: var(--white);
    overflow-y: auto;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
}
.post-preview .post-preview-box .preview-content .ant-card-body{
    padding: 0;
}
.post-preview .post-preview-box .preview-content .post-title ,.post-preview .post-preview-box .preview-content .post-desc{
    max-width: 360px;
}