.sc-chat-window{
    height: 60%;
}
.sc-header,.sc-closed-icon,.sc-open-icon,.sc-message--content.sent .sc-message--text{
    background: #07A3B2 !important;
}
.sc-header--close-button:hover{
    background: #07A3B2 !important;
}
.sc-chat-window{
right: 366px;
bottom: 0px;
}
.sc-open-icon,.sc-closed-icon,.sc-launcher{
    display:none;
}
.sc-header--img{
    height: 55px;
}
.messenger-drawer .sc-header{ 
    min-height: 50px !important;
    padding:0 !important;
  }

.messenger-drawer .sc-message-list{
    padding: 8px 0px;
}
.messenger-drawer .sc-message--content.sent .sc-message--text{
    padding: 6px 12px;
    border-top-right-radius: 0;
}
.messenger-drawer .sc-message--content.received .sc-message--text{
    padding: 6px 12px;
    border-top-left-radius: 0;
}
.messenger-drawer .sc-message--content.received .sc-message--avatar{
   display: none;
}
.messenger-drawer .sc-chat-window.opened{width: 340px !important;}
@media (max-width:575px) {
    .messenger-drawer .sc-chat-window.opened{width: 320px !important;}
    .sc-chat-window{right: 0 !important;}
}
@media (max-width:375px) {
    .messenger-drawer .sc-chat-window.opened{width: 300px !important;}
}