@import 'styles/theme.css';
.ant-avatar{border-radius: 12px !important;}
.ant-card-head{padding: 0 12px !important;}
.share-popup .ant-avatar{width: 40px !important; height: 40px !important;}
.ant-card-head .ant-card-head-title{font-weight: 500; font-size: 16px; color:  var(--textprimary); line-height: normal; padding: 12px 0 !important;}
.ant-btn{min-height: 40px !important;font-size: var(--f-16) !important;border-radius: 6px !important;font-weight: 500 !important;}
.ant-btn-primary{color: #fff; background: var(--primary) !important; border-color: var(--primary) !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045); border-radius: 4px; padding: 5px 15px;}
.ant-btn-primary:hover{background-color: #20838c !important;}
.ant-menu-item a:hover ,.ant-menu-item-selected a, .ant-menu-item-selected a:hover{color: var(--primary) !important;}
.ant-menu-item, .ant-menu-item-selected{border: 0 !important;}
.icons, .like-icon{width: 28px; height: 28px; vertical-align: initial; display: inline-block; vertical-align: middle; background: url(styles/images/icons.svg) no-repeat;}
.avatar-menu{padding: 0 !important;}
.avatar-menu img{width: 50px; height: 50px; border-radius: 12px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1)}
.notification-count .ant-badge-count{background: var(--primary) !important; border-radius: 0px !important; min-width: 16px; height: 16px; padding: 0 3px; font-size: 10px; line-height: 16px; top: -5px; right: -6px;}
.share-box{border-radius: 0.8rem; text-align: center; margin-bottom: 16px; background: var(--white); border: 1px solid var(--line);}
.sharebox-icons, .doc-icons{width: 45px; height: 40px; vertical-align: initial; display: inline-block; vertical-align: middle; background: url(styles/images/icons.svg) no-repeat;}
.left-rail .profile-card{display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; border-radius: 0.8rem; color: var(--white); border: 0; position: relative;}
.profile-card .ant-card-cover{position: absolute; left: 0; top: 0; right: 0; height: 56px; border-radius: 0.8rem 0.8rem 0 0; overflow: hidden; border: 1px solid transparent;}
.left-rail{border: 1px solid var(--line);}
/* .profile-card::before{content: ''; position: absolute; left: 0;top: 0;right: 0; background: var(--primary); height: 70px; border-radius: 0.8rem 0.8rem 0 0;} */
.profile-card .ant-avatar{width: 72px; height: 72px; padding-right: 0; border-radius: 20px !important;}
.profile-card .ant-card-meta-avatar:after{ content: ""; position: absolute; width: 12px; height: 12px; display: inline-block; border: 1px solid var(--white); border-radius: 50%; right: -4px; bottom: 6px; background: #33DF00;}
.profile-card .ant-card-meta-avatar{float: none; padding-right: 0; position: relative; width: 72px; height: 72px; margin: auto;}
.profile-card .ant-card-meta-detail{color: var(--white) !important; margin-top: 10px;}
.profile-card .ant-card-meta-title{color: var(--textprimary); font-size: 16px; font-weight: 500; margin: 10px 0 2px !important; white-space: normal !important; text-transform: capitalize;}
.profile-card .ant-card-meta-description{color: var(--textsecondary); font-size: 12px;}
.profile-card .ant-card-actions{width: 100%; background: transparent; border-top: 1px solid var(--line); border-bottom: 1px solid var(--line);}
.profile-card .profile-status{display: flex; flex-direction: column; align-items: center; color: var(--textprimary); font-size: 24px; font-weight: 500; line-height: 30px; cursor: text;}
.profile-card .profile-status span{font-size: 12px; line-height: 24px; font-weight: normal; color: var(--textsecondary);}
.sharebox-icons.text-icon{background-position: -5px -103px;}
.share-box ul li:hover .sharebox-icons.text-icon{background-position: -5px -149px;}
.sharebox-icons.photo-icon{background-position: -63px -101px;}
.share-box ul li:hover .sharebox-icons.photo-icon, .sharebox-icons.photo-upload{background-position: -63px -149px;}
.sharebox-icons.audio-icon{background-position: -124px -99px;}
.share-box ul li:hover .sharebox-icons.audio-icon, .sharebox-icons.audio-upload{background-position: -124px -147px;}
.sharebox-icons.document-icon{background-position: -180px -97px;}
.share-box ul li:hover .sharebox-icons.document-icon, .sharebox-icons.docs-upload{background-position: -180px -146px;}
.sharebox-icons.gif-icon{background-position: -236px -99px;}
.share-box ul li:hover .sharebox-icons.gif-icon,  .sharebox-icons.gif-upload{background-position: -236px -147px;}
.sharebox-icons.video-icon{background-position: -297px -100px;}
.share-box ul li:hover .sharebox-icons.video-icon, .sharebox-icons.video-upload{background-position: -297px -149px;}
.sharebox-icons.speekar-icon{background-position: -124px -147px;}
.speekar-block .ant-avatar{width: 100% !important;height: 100% !important;}
.text-hover{opacity: 0; line-height: 1;}
.share-box ul li:hover .text-hover{opacity: 1; transition: opacity 100ms linear;}
.share-box ul li:hover .sharebox-icons {transform: translate3d(0,-5px,0); transition: transform 100ms linear;}
.text-icon, .photo-icon, .audio-icon, .document-icon, .gif-icon{position: relative;}
.icon-animation{color:var(--primary) !important;font-size: 14px; font-weight: 500;}
.share-box li{position: relative; padding-top: 5px;}
.share-box ul li:last-child:after{content: none;}
.left-rail, .invite-card .ant-card{background: var(--white); border-radius: 10px !important; margin-bottom: 6px; border-color: var(--line);}
.left-menu{width: 18px; height: 18px; vertical-align: initial; padding-left: 0 !important; display: inline-block; vertical-align: text-bottom; background: url(styles/images/icons.svg) no-repeat;}
.left-menu.profile-icon{background-position: -5px -200px;}
.left-menu.friends-icon{background-position: -35px -200px;}
.left-menu.post-icon{background-position: -65px -202px;}
.icons.edit{background-position:-61px -198px;}
.left-menu.group-icon{background-position: -94px -200px;}
.left-menu.noti-icon{background-position: -124px -200px;}
.left-menu.savedpost-icon{background-position: -350px -200px;}
.left-menu.interest{background-position: -206px -254px;}
.left-menu.hobbies{background-position: -234px -254px;}
.left-menu.intenship{background-position: -263px -254px;}
.left-menu.play{background-position: -292px -254px;}
.left-menu.education{background-position: -325px -254px;}
.left-menu.courses{background-position: -350px -254px;}
.profile-menu{ border: 0 !important; 
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    background-color: transparent !important;}
.profile-menu .ant-menu-item a span{font-size: var(--f-14); padding-left: 12px; font-weight: 500;color: var(--textprimary);}
.profile-menu .ant-menu-item a{width:100%;height: 100%;}
.profile-menu .ant-menu-item{margin:0 !important; padding: 0 12px !important;}
.profile-menu li:hover, .profile-menu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{background: var(--bghover) !important;}
/* .profile-menu li:hover a span{color: var(--primary);} */
/* .profile-menu li:hover a .left-menu.profile-icon,.profile-menu .ant-menu-item-selected a .left-menu.profile-icon{background-position: -5px -226px;}
.profile-menu li:hover a .left-menu.friends-icon,.profile-menu .ant-menu-item-selected a .left-menu.friends-icon{background-position: -35px -226px;}
.profile-menu li:hover a .left-menu.post-icon,.profile-menu .ant-menu-item-selected a .left-menu.post-icon,.icons.edit:hover{background-position: -64px -227px;}
.profile-menu li:hover a .left-menu.group-icon,.profile-menu .ant-menu-item-selected a .left-menu.group-icon{background-position: -94px -226px;}
.profile-menu li:hover a .left-menu.noti-icon,.profile-menu .ant-menu-item-selected a .left-menu.noti-icon{background-position: -123px -226px;}
.profile-menu li:hover a .left-menu.interest,.profile-menu .ant-menu-item-selected a .left-menu.interest{background-position: -206px -281px;}
.profile-menu li:hover a .left-menu.hobbies,.profile-menu .ant-menu-item-selected a .left-menu.hobbies{background-position: -234px -281px;}
.profile-menu li:hover a .left-menu.intenship,.profile-menu .ant-menu-item-selected a .left-menu.intenship{background-position: -263px -281px;}
.profile-menu li:hover a .left-menu.play,.profile-menu .ant-menu-item-selected a .left-menu.play{background-position: -292px -281px;}
.profile-menu li:hover a .left-menu.education,.profile-menu .ant-menu-item-selected a .left-menu.education{background-position: -325px -281px;}
.profile-menu li:hover a .left-menu.courses,.profile-menu .ant-menu-item-selected a .left-menu.courses{background-position: -350px -281px;}
.profile-menu li:hover a .left-menu.savedpost-icon,.profile-menu .ant-menu-item-selected a .left-menu.savedpost-icon{background-position: -350px -226px;} */
.invite-card .ant-card-head{border-bottom: 1px solid #e9e5df; color: var(--textprimary); font-size: var(--f-16);}
.invite-card .ant-card-body{text-align:center;}
.invite-card .ant-avatar-group .ant-avatar{width: 60px; height: 60px; line-height: 60px; border-radius: 18px; border:0; font-size: 24px; color: var(--primary); font-weight: 600;}
.invite-card p{color: var(--textsecondary); font-size: var(--f-16);}
.invite-grp-name{font-weight: 500;}
.invite-card .ant-avatar-group{margin-bottom: 30px; position: relative;}
.invite-card .ant-avatar-group:after{content: ''; width: 45px; height: 20px; display: inline-block; cursor: pointer; vertical-align: text-bottom; background: url(../src/styles/images/circle-arrow.svg) no-repeat; position: absolute; bottom: -23px; transform: rotate(-5deg); text-align: center; left: 28%; background-size: cover;}
.premium-icon{width: 16px; height: 16px; vertical-align: initial; display: inline-block; cursor: pointer; vertical-align: middle; background: url(../src/styles/images/icons.svg) no-repeat; background-position:-6px -84px; margin-left: 4px;}
.profile-card .ant-card-actions > li:not(:last-child){border-right: 1px solid var(--line);}
.ant-card-actions > li, .ant-card-actions > li > span{cursor: default !important;}
.profile-card .ant-card-body{padding: 24px 12px 16px !important;}
.custom-popup .ant-modal-close{display: none !important;}
.justify-content-between, .speekar-block{justify-content: space-between;}
.share-popup .ant-modal-footer{background: #F9F9F9; border-top: 0;border-radius: 10px;}
.share-box ul li:hover .sharebox-icons.video-icon{background-position: -297px -149px;}
.share-box ul{list-style-type: none;padding: 12px 8px 12px;}
.upload-image .ant-avatar{width: 64px;height: 50px;margin-bottom: 5px;}
.upload-image.ant-upload-text{color: var(--black);margin-bottom: 0px;}
.upload-image{margin-bottom: 24px;}
.title-img .ant-input{border: none !important;text-align: left;font-size: 18px !important;font-weight: 600;color: var(--textprimary); margin-bottom: 10px;padding: 0; min-height: 32px !important}
.title-img .ant-input:focus, .title-img .ant-input-focused, .caption-image .ant-input:focus{ border: none; box-shadow: none !important;}
.caption-image .ant-input{color: var(--textsecondary); font-size: 14px; border: none !important; text-align: left;padding: 0;}
.upload{border-radius: 6px !important;}
.upload .ant-upload-text{color: var(--black); font-size: var(--f-16); font-weight: 500;}
.upload-image .ant-upload-drag{margin-bottom: 16px;}
.upload-preview{position: relative;}
.item-close{position: absolute; background: var(--white); box-shadow: var(--boxshadow); top: 12px; right: 12px; border-radius: 8px; z-index: 9; opacity: 0;}
.upload-preview:hover .item-close{opacity: 1;}
.upload-preview .ant-image{width: 100%; overflow: auto;}
.upload-preview .ant-list-item-meta{align-items: center;}
.close-icon, .anticon.anticon-delete{width: 30px; height: 30px; vertical-align: middle; display: inline-block; background: url(../src/styles/images/icons.svg) no-repeat; background-position: -401px -196px;}
.doc-icons.word{background-position: -469px -104px;}
.doc-icons.excel{background-position: -412px -104px;}
.doc-icons.ppt{background-position: -354px -103px;}
.docs .ant-list-items{display: flex; flex-wrap: wrap;}
.docs .ant-list-item{min-width: calc(50% - 8px); background: #F9F9F9; padding: 10px; border-radius: 6px; border: 1px solid #EAF2FD;margin: 0 8px 8px 0;}
.docs .ant-list-item h4{margin-bottom: 0;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color: var(--primary);}
.file-size{font-weight: 500; color: var(--textsecondary);}
.ant-btn.btn-cancel{background: #DEDFE1;color:var(--black)}
.menu-droupdown{width: 120px;}
.menu-droupdown a{font-size: 11px;}
.ant-modal-header{padding: 16px 30px !important;border-radius: 10px 10px 0 0 !important;}
.ant-modal-body{padding: 16px 30px!important;}
.ant-modal-footer{padding: 16px 30px!important;}
.ant-modal-header .ant-modal-title{color:  var(--textprimary);}
.ant-modal-footer .ant-btn{width: 100%;border-radius: 8px !important;}
.share-popup .ant-modal-content, .share-popup.ant-modal-header{border-radius: 10px;}
.anonymous{display: flex;align-items: center;}
.ant-input:hover{box-shadow: none !important;}
.tags .anticon-plus{display: none;}
.tags .site-tag-plus{border: 0;text-align: center;font-size: 14px;color: #BDBDBD !important;background: transparent !important;border-top: 1px solid var(--border); cursor: pointer;}
.tags{text-align: center; min-height: 90px;}
.tags .ant-tag{background: #D7FDFE;border: 0;border-radius: 0.4rem;padding: 3px 10px;color: var(--textprimary);font-size: var(--f-14);margin-bottom: 10px;}
.tags .ant-input{border: 0 !important; min-height: 30px; border-radius: 0 !important; width: 100% !important; text-align: center; font-size: var(--f-14)}
.tags .ant-input:focus{outline: none !important;}
.ant-tag-close-icon{color: var(--primary) !important;}
/* .ant-input:focus, .ant-input-focused, .ant-input:hover{border-color: var(--primary) !important;} */
.custom-dropdown{min-width: 300px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06); border-radius: 6px; padding: 4px 0;}
.custom-dropdown .ant-dropdown-menu-item {display: flex; align-items: center;padding: 8px 16px; font-weight: 500; font-size: var(--f-14);}
.custom-dropdown li svg, .custom-dropdown li span {margin-right: 16px;}
.custom-dropdown li a{display: block;}
.ant-checkbox-checked .ant-checkbox-inner{background: var(--primary); border-color: var(--primary);}
.ant-checkbox-checked::after, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{border-color: var(--primary);}
.ok-image img{width: 48px !important;height: 48px !important;vertical-align: middle;margin-top: 20px;}
.image-close{position: absolute;background: var(--white);box-shadow: var(--boxshadow);top: 8px;right: 25px;border-radius: 9px;cursor: pointer;}
.close-icon, .anticon.anticon-delete{margin-top: 3px; width: 25px; height: 25px;vertical-align: middle;display: inline-block;background: url(../src/styles/images/icons.svg) no-repeat;background-position: -402px -199px;}
.doc-icons.word{background-position: -469px -104px;}
.doc-icons.excel{background-position: -412px -104px;}
.doc-icons.ppt{background-position: -354px -103px;}
.docs .ant-list-items{display: flex; flex-wrap: wrap;}
.docs .ant-list-item{min-width: calc(50% - 8px); background: #F9F9F9; padding: 10px; border-radius: 6px; border: 1px solid #EAF2FD;margin: 0 8px 8px 0;}
.docs .ant-list-item h4{margin-bottom: 0;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color: var(--primary);}
.addpost-user .ant-card-meta-title{font-size: var(--f-16);margin-bottom: 0 !important; line-height: inherit; margin-top: -4px;}
.addpost-user .ant-card-meta-avatar .ant-avatar-image{width: 40px;height: 40px;}
.addpost-user  .ant-card-meta-avatar{padding-right: 10px !important;}
.post-privacy{color: var(--textprimary) !important; font-size: var(--f-12); cursor: pointer; background: #e4e6eb;padding: 2px 8px 2px 8px; margin-top: 2px; border-radius: 0.8rem; width: 90px; display: flex; justify-content: space-between; align-items: center; font-weight: 500;}
.upload-image .ant-upload.ant-upload-drag p.ant-upload-text {margin: 0 0 4px;color: var(--black);font-size: var(--f-16);font-weight: 500;}
.speekar-block{padding: 30px 0;background: var(--bodybg);border-radius: 10px;}
.radious, .upload-image .ant-upload.ant-upload-drag{border-radius: 10px;}
.doc-text{color: var(--primary);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 110px;}
.ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon,.ant-upload-list-item-card-actions .anticon{color: transparent !important;}
.fw-400{font-weight: 400;color: var(--black);}
.justify-content-around .ant-list-item-meta{background: #F9F9F9;border-radius: 5px;}
.ant-input:focus, .ant-input-focused, .ant-input:hover, .ant-select:focus, .ant-select-focused, .ant-select:not(.ant-select-disabled):hover .ant-select-selector,.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover{border-color: var(--primary) !important;}
.icons.camera{background-position: -288px -50px;}
.card-box .ant-list-item-action{margin-left: 5px !important;}
.card-box .ant-list-item-meta .ant-avatar-image{ width: 40px;height: 40px;}
.card-box .ant-list-item-meta-title{font-size: var(--f-16);line-height: 24px;}
@media(min-width: 768px) {.share-box ul li::after{content: ""; position: absolute; width: 1px; height: 45px; background-color: var(--line); top: 4px; right: -22px; left: auto;}}
.invite-btn{display: flex;align-items: center;justify-content: center;}
.custom-card .ant-card{ border-radius: 0.8rem; margin-bottom: 12px; border-color: var(--line);border: 1px solid var(--line);}
.custom-card .ant-card-body{ padding: 0;}
.custom-card .ant-list-split .ant-list-item{ border-bottom: 1px solid var(--line);}
.custom-card .ant-list-item{padding: 8px 12px;}
.custom-card .ant-card-head{padding: 0 12px !important;}
.custom-card .ant-list-item:hover{background: rgba(0, 0, 0, 0.05);}
.requests .ant-list-item:hover{background: none}
/* .custom-card .ant-list-item:first-child{padding-top: 0 !important;}
.custom-card .ant-list-item:last-child{ padding-bottom: 0 !important;} */
.custom-card .ant-list-item .ant-list-item-meta .ant-avatar-image{width: 40px;height: 40px;border-radius: 12px;}
.custom-card .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar{ margin-right: 16px; box-shadow: var(--boxshadow); border-radius: 13px;}
.custom-card .ant-list-item .ant-list-item-meta .ant-list-item-meta-content .ant-list-item-meta-title{font-size: var(--f-14);line-height: 18px; margin-bottom: 3px;color: var(--textprimary);}   
.custom-card .ant-list-item .overflow-text{cursor: pointer;}
.overflow-text{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.w-150{width: 150px;}
.custom-card .list-link{color: var(--primary);margin-left: 3px; font-weight: 500;}
.custom-card .ant-card-extra{padding: 12px 0;}
.custom-card .ant-card-actions{border-bottom-left-radius: 0.8rem;border-bottom-right-radius: 0.8rem;border-top: 0;}
.icons.add{background-position:-505px -198px;}
.icons.add:hover{background-position: -505px -224px;}
.icons.white-add{background-position:-528px -224px;}
.icons.white-close{background-position:-528px -198px;}
.icons.close{background-position:-401px -197px;}
.icons.close:hover{background-position:-401px -223px;}   
.hobbies-card .tags{ background-color: var(--secondary); color: var(--textprimary);font-size: var(--f-14);font-weight: 500; border-radius: 40px;padding: 4px 15px;border: none;margin-bottom: 8px;}
.text-left-line.ant-divider-horizontal.ant-divider-with-text-left::before{width: 0 !important;}
.text-left-line .ant-divider-inner-text{padding-left: 0;color: var(--textprimary);}
.text-left-line{position: relative;}
.text-left-line .icons{position: absolute;right: -10px;background-color: var(--primary);border-radius: 50%;z-index: 1;}
.icons.location{background-position: -148px -252px;}
.icons.email{background-position: -122px -252px;}
.icons.phone{background-position: -174px -252px;}
.about-details {display: flex;align-items:center;margin-bottom: 10px;color: var(--textprimary);}
.about-details .about-icons,.edu-card .about-icons{min-width: 40px; width: 40px;height: 40px; display: flex; align-items: center; justify-content: center;border-radius: 10px;border: 1px solid var(--secondary);margin-right: 10px;}
.about-details p{ margin-bottom: 0;font-size: var(--f-14);}
/* FriendRequests */
.ant-avatar.request-image{width: 60px !important;height: 60px !important;border-radius: 12px;}
.list-remove, .list-remove:hover{color: #FF0000 !important; font-weight: 500;}
.requests .ant-row .ant-col{margin: 16px 5px 0; border-bottom: 1px solid var(--line);}
.group-page .ant-card-meta-detail .ant-card-meta-title{margin-bottom: 0;}
.group-page .list-link{color: var(--primary) !important;font-weight: 500;}
.group-page .ant-card, .group-page .ant-card-actions{border-radius: 10px;}
.group-page .ant-card-cover img{border-top-left-radius: 10px;border-top-right-radius: 10px;}
.group-page .ant-card-body{padding: 16px !important;}
.group-page .ant-card-actions{color:#f9f9f9;}
.list-request{display: inherit; margin-right: 4px;}
.list-request .ant-avatar{width: 25px !important;height: 25px !important;line-height: 20px;border-radius: 8px !important;}
.list-request .ant-avatar-string{font-size: var(--f-10);}
.requests .ant-list-item-meta{align-items: center;}
.profile-tab .profile-menu{margin-top: 0 !important;padding-top: 16px !important;}
.pfvideocard .ant-card-cover video{border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.pfvideocard .ant-card-body{padding: 0 !important;}
.icons.more{background-position: -235px -200px;}
.icons.pdf {background-position: -365px -159px ;}
.intern-cards{border: 1px solid var(--secondary ); border-radius: 5px; text-align: center; position: relative;}
.intern-cards .intern-cardbody{ background-color: var(--grey); padding: 24px 8px;}
.intern-cards .intern-cardbody img{ width: auto; height:50px; margin-bottom: 8px;}
.intern-cards .intern-cardbody .title{ font-size: 18px; font-weight: 500;line-height: 22px;color: var(--textprimary); margin-bottom: 8px;}
.intern-cards .intern-cardbody .description{ font-size: var(--f-16);font-weight: 500;line-height: 20px; color: var(--textsecondary); margin-bottom: 2px; text-transform: capitalize;}
.intern-cards .intern-cardfooter{ background-color:  var(--white); text-align: left; padding: 10px 8px; color: var(--textprimary);}
.intern-cards .card-options-left{ position: absolute; top: 8px;left: 8px;}
.intern-cards .card-options-right{ position: absolute; top: 8px; right:8px;}
.intern-cards .intern-cardbody .description .afterline:after{height: 16px !important;top: 3px !important;right: -10px !important;}
.tag-color{color: var(--primary);font-size: var(--f-16);font-weight: 500;padding: 5px 0;}
.edu-card{display: flex;align-items: center;}
.edu-card .ant-list-item-meta-avatar{margin-right: 0px !important;}
.edu-card .edu-study .ant-list-item-meta-content .ant-list-item-meta-title{font-size: var(--f-16);}
.edu-card .edu-certificate {background:var(--grey);padding: 5px;border-radius: 5px;border: 1px solid var(--secondary); margin-left:10px; margin-right: 10px; display: flex; align-items: center;}
.edu-card .edu-study{ display: flex;align-items: center;}
.edu-card .edu-certificate .about-icons {background: var(--white) ;}
.edu-card .edu-certificate .ant-list-item-meta-title{color: var(--primary);}
.ant-input-affix-wrapper:hover,.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{border-color: var(--primary) !important;}
.custom-input{margin-bottom: 15px;border-radius: 8px;padding:  0 !important;}
.custom-input .ant-input-suffix{ border-left: 1px solid var(--bordergrey); padding-left: 3px;padding-right: 3px;}
.custom-input .ant-input{padding: 7px 10px !important;}
.custom-modal-header{display: flex;justify-content: space-between;align-items: center;}
.custom-modal-header h4{margin-bottom: 0;color: var(--textprimary);}
.modal-search .header-searchbar .ant-input-group{box-shadow: none;border: 1px solid var(--bordergrey);border-radius: 8px;}
.modal-search .header-searchbar{max-width: 100%;}
/* .modal-search .header-searchbar input{min-height: 35px !important;} */
.modal-interest .ant-modal-body {background-color: #f9f9f9;padding: 0!important;}
.text-red,.text-red:hover{color: var(--red) !important;}
.bg-white{background-color: var(--white);}
.ant-form-vertical .ant-form-item-label{padding-bottom: 0px !important;}
.custom-fields .ant-form-item-label > label{color: var(--textsecondary) !important;font-size: var(--f-14);font-weight: 500;margin-bottom: 3px !important;}
.custom-fields{margin-bottom: 16px !important;}
.custom-fields .ant-input, .custom-fields .ant-select{min-height: 48px;}
.custom-fields .ant-select-selector,.custom-fields .ant-picker.ant-picker-range{min-height: 48px;height: 48px !important;border-radius: 8px !important;}
.custom-fields .ant-select-selector .ant-select-selection-item{line-height: 48px !important;}
.custom-fields textarea.ant-input{min-height: 90px !important;}
.ant-input,.ant-select-selector{border: 1px solid #dfe3eb !important;}
.ant-input,.ant-select{border-radius: 8px !important;}
.ant-modal-content{border-radius: 0.8rem !important;}
.ant-btn:hover, .ant-btn:focus,.ant-picker:hover, .ant-picker-focused{ color: var(--primary) !important;border-color: var(--primary) !important;}
.ant-btn-primary:hover, .ant-btn-primary:focus{color: var(--white) !important;}
.ant-btn-primary:disabled{background: var(--bghover)!important; border-color: var(--line) !important;}
.ant-btn-primary:disabled:hover {color: rgba(0, 0, 0, 0.25) !important;}
.requests .ant-row>div:last-child .ant-col,.requests .ant-row>div:nth-last-child(2) .ant-col{border-bottom: 0; margin-bottom: 0;}
.center-focus{object-position: 50% 50%;object-position: 0 0;height: 315px;object-fit: cover;border-radius:10px}
.icon.education-icon{background-position: -263px -254px;}
.img-camera{width: 30px; height: 30px; background: var(--white); position: absolute; right: 16px; top: 16px; border-radius: 8px; box-shadow: var(--boxshadow); text-align: center; line-height: 34px;}
.education .ant-list-item-meta-avatar{border: 1px solid #ccc;border-radius: 11px;background: #ffff;padding: 4px 5px;}
.overlay { position: absolute;  bottom: 0;  background: var(--black); background: rgba(0, 0, 0, 0.5); color: #f1f1f1; transition: .5s ease;  color: var(--white);  font-size: 22px; padding: 19px; text-align: center;}
.img-container{position: relative;width: 100%;}
.hobbies-tag .ant-tag{color: var(--black);font-size: 14px;}
.hobbies-tag .ant-tag-close-icon{color: var(--black) !important; margin-left: 4px;font-size: 11px;}
.comment-list .ant-comment:last-child .ant-comment-inner{padding-bottom: 0px;}
.more-comments{display: inline-block; font-size: var(--f-14); color: var(--textsecondary); font-weight: 500; padding: 0 8px; border-radius: 4px;}
.more-comments:hover{background: rgba(0, 0, 0, 0.06);}
.sub-text .ant-list-item-meta-description{font-size: 12px;}
.display-flex{display: flex;}
.text-overflow{    white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.ant-divider-with-text {margin-top: 0 !important;}
.video-post{position: relative;}
.video-post .play{width: 80px; height: 80px; background: url('./styles/images/play-btn.svg') no-repeat; display: inline-block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.group-member .ant-avatar-group .ant-avatar:not(:first-child){margin-left: 0; }
.group-member .ant-avatar{width: 40px;height: 40px;}
.ant-upload.ant-upload-drag .ant-upload{padding: 24px 0 !important;}
@media (min-width:576px){
    .custom-popup,.ant-modal{width: 480px !important;}
    .custom-popup .ant-modal-body{max-height: calc(60vh - 20px); overflow: auto;} 
}
.group-member .ant-avatar-group .ant-avatar:not(:first-child){margin-left: 0; }
.group-member .ant-avatar{width: 40px;height: 40px;}
.ant-upload.ant-upload-drag .ant-upload{padding: 24px 0 !important;}
textarea{resize: unset !important;}
.ant-divider-horizontal.ant-divider-with-text-left::after{width: 80%;}
.ant-btn.ant-btn-primary{padding-left:30px;padding-right: 30px;}
.antd-img-crop-modal .ant-modal-footer .ant-btn:first-child{display: none;}
.ant-modal-footer button + button{margin: 0 !important;}
.like-tabs .ant-tooltip-content{width: 350px;}
.like-tabs .ant-tabs-tab{font-weight: 500;}
.like-tabs .ant-tabs-tab:active, .like-tabs .ant-tabs-tab .ant-tabs-tab-btn:active, .like-tabs .ant-tabs-tab .ant-tabs-tab-btn:focus {color: var(--white) !important;}
.group-page .ant-card-bordered{border: 1px solid var(--line) !important;}
.rhap_container{box-shadow: none !important; border: 1px solid var(--line); border-radius: 0.4rem;}
.post-image .audio, .post-preview-box .audio{margin: 4px 16px 4px;}