/* primary-color - #07A3B2 */

body,h1,h2,h3,h4,h5,h6,p {
    font-family: 'Neue Haas Grotesk Text Pro' !important;
}

.text-color{
    color: #272727 !important;
}
.text-gray{
    color:#9B9B9B;
}

.ant-card-head{
    padding: 0 16px !important;
    min-height: 44px !important;

}
.ant-card-head .ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1 1;
    padding: 12px 0 ;
    overflow: hidden;
    white-space: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color:  #272727;
}

.ant-btn-primary {
    color: #fff;
    background: #07A3B2 !important;
    border-color: #07A3B2 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border-radius: 4px;
    height: 36px;
    padding: 5px 15px;
}

.ant-menu-item a:hover ,.ant-menu-item-selected a, .ant-menu-item-selected a:hover{
    color: #07A3B2 !important;
}
.ant-menu-item, .ant-menu-item-selected {
    border: 0 !important;
}





.icons {
    width: 28px;
    height: 28px;
    vertical-align: initial;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: url(styles/images/icons.svg) no-repeat;
}

.avatar-menu {
    padding: 0 !important;
}

.avatar-menu img {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1)
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.notification-count .ant-badge-count {
    background: #07A3B2 !important;
    border-radius: 0px !important;
    min-width: 16px;
    height: 16px;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    top: -5px;
    right: -6px;
}

.share-box {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 24px;
}

.bg-white {
    background: #ffffff;
}
.space {
    padding: 16px 0;
    min-height: 17px;
    box-sizing: content-box;
}

.sharebox-icons {
    width: 45px;
    height: 40px;
    vertical-align: initial;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: url(styles/images/icons.svg) no-repeat;
}
.left-rail .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #07A3B2;
    border-radius: 10px;
    color: #ffffff;
    border: 0;
}

.profile-card .ant-avatar{
    width: 90px;
    height: 90px;
    padding-right: 0;
    border-radius: 24px;
}
.profile-card .ant-card-meta-avatar:after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 50%;
    right: 0;
    bottom: 6px;
    background: #33DF00;
}

.profile-card .ant-card-meta-avatar {
    float: none;
    padding-right: 0;
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
}

.profile-card .ant-card-meta-detail {
    color: #ffffff !important;
    margin-top: 10px;
}

.profile-card .ant-card-meta-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 0 !important;
    white-space: normal !important;
}

.profile-card .ant-card-meta-description {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.profile-card .ant-card-actions {
    width: 100%;
    background: transparent;
    border: 0;
}

.profile-card .profile-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.profile-card .profile-status span {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
}
.sharebox-icons.text-icon{background-position: -5px -107px;}
.sharebox-icons.text-icon:hover{background-position: -5px -152px;}
.sharebox-icons.photo-icon{background-position: -63px -101px;}
.sharebox-icons.photo-icon:hover{background-position: -63px -149px;}
.sharebox-icons.audio-icon{background-position: -124px -99px;}
.sharebox-icons.audio-icon:hover{background-position: -124px -147px;}
.sharebox-icons.document-icon{background-position: -180px -97px;}
.sharebox-icons.document-icon:hover{background-position: -180px -146px;}
.sharebox-icons.gif-icon{background-position: -236px -99px;}
.sharebox-icons.gif-icon:hover{background-position: -236px -147px;}
.sharebox-icons.vedio-icon{background-position: -297px -100px;}
.sharebox-icons.vedio-icon:hover{background-position: -297px -149px;}
.share-box ul{list-style-type: none;padding: 15px 5px;}
.mb-0{margin-bottom: 0;}
.text-hover{visibility: hidden;line-height: 1.2;}
.sharebox-icons:hover+ .text-hover{visibility: visible;display: block;position: relative;}
.text-icon, .photo-icon, .audio-icon, .document-icon, .gif-icon{position: relative;}
.icon-animation{color:#07A3B2 !important;font-size: 14px;}
.icon-animation:focus .sharebox-icons, .icon-animation:hover .sharebox-icons {transform: translate3d(0,-3px,0);}
.icon-animation .sharebox-icons {transition: transform 80ms linear;}

.left-rail , .invite-card .ant-card{
    background: #ffffff;
    border-radius: 10px !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.left-menu {
    width: 20px;
    height: 20px;
    vertical-align: initial;
    display: inline-block;
    cursor: pointer;
    vertical-align: text-bottom;
    background: url(styles/images/icons.svg) no-repeat;
}
.left-menu.profile-icon{background-position: -5px -200px ;}
.left-menu.friends-icon{background-position: -35px -200px ;}
.left-menu.post-icon{background-position: -64px -200px ;}
.left-menu.group-icon{background-position: -94px -200px ;}
.left-menu.noti-icon{background-position: -123px -200px ;}
.profile-menu{
    border: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    margin-top: -10px !important;
    background-color: transparent !important;
}
.profile-menu .ant-menu-item a span{
 font-size: 16px;
 line-height: 20px;
 padding-left: 20px;
}
.profile-menu .ant-menu-item a{width:100%;height: 100%; }
.profile-menu .ant-menu-item{
    margin:0 !important;
    height: 46px !important;
    line-height: 46px !important;
}
.profile-menu li:hover, .profile-menu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #F9F9F9;
}
.profile-menu li:hover a span{
    color: #07A3B2;
}
.profile-menu li:hover a .left-menu.profile-icon,.profile-menu .ant-menu-item-selected a .left-menu.profile-icon{background-position: -5px -226px ;  }
.profile-menu li:hover a .left-menu.friends-icon,.profile-menu .ant-menu-item-selected a .left-menu.friends-icon{background-position: -35px -226px ;}
.profile-menu li:hover a .left-menu.post-icon,.profile-menu .ant-menu-item-selected a .left-menu.post-icon{background-position: -64px -226px ;}
.profile-menu li:hover a .left-menu.group-icon,.profile-menu .ant-menu-item-selected a .left-menu.group-icon{background-position: -94px -226px ;}
.profile-menu li:hover a .left-menu.noti-icon,.profile-menu .ant-menu-item-selected a .left-menu.noti-icon{background-position: -123px -226px ;}

.invite-card .ant-card-head{
   border-bottom: 1px solid #D6E6FB;
   color: #272727;
   font-size: 16px;
}
.invite-card .ant-card-body{
    text-align:center;
}
.invite-card .ant-avatar-group .ant-avatar {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 18px;
    border:0 ;
    font-size: 24px;
    color: #07A3B2;
    font-weight: 600;
}
.invite-card p{
    color: #5D5D5D;
}
.invite-card .ant-avatar-group{
    margin-bottom: 30px;
    position: relative;
}
.invite-card .ant-avatar-group:after{
    content: '';
    width: 45px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: text-bottom;
    background: url(../src/styles/images/circle-arrow.svg) no-repeat;
    position: absolute;
    bottom: -23px;
    transform: rotate(-5deg);
    text-align: center;
    left: 28%;
    background-size: cover;
}

.premium-icon{
    width: 15px;
    height: 15px;
    vertical-align: initial;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: url(../src/styles/images/icons.svg) no-repeat;
    background-position: -6px -78px;
    margin-left: 4px;
}

.profile-card .ant-card-actions > li:not(:last-child) {
    border-right: 1px solid #0CD5E8;
}
 /* image popup */
.media-head{font-weight: 500;color: #000000;margin-bottom: 0px;line-height: 15px;}
.share-popup .ant-modal-content .ant-modal-close{display: none;}
.justify-content-between{display: flex;justify-content: space-between;}
.check-text{margin-bottom: 0;line-height: 15px;font-size: 10px;color: #000000;}
.ant-modal-header {padding: 15px 16px !important;}
.lable-height{line-height: 15px;}
.share-popup .ant-modal-footer{color: #F9F9F9;}

