@import 'styles/theme.css';
html {--antd-wave-shadow-color: var(--primary); --scroll-bar: 0;}
.icon{width: 20px;height: 20px;vertical-align: initial;display: inline-block;vertical-align: text-bottom; background: url(../src/styles/images/icons.svg) no-repeat;margin-right: 5px;}
/*----Alignments----*/
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.normalbold{font-weight: 400 !important;}
.semibold{font-weight: 500 !important;}
.bold{font-weight: 600 !important;}
.c-pointer, .cursor-pointer{cursor: pointer !important;}
.c-default{cursor: default !important;}
.c-text{cursor: text !important;}
a{color: var(--primary);}
a:hover,a:active{color: var(--primaryhover) !important;}
.d-flex{display: flex;}
.align-items-center{align-items: center;}
/* .site-layout-content { background: #f0f7ff url(../src/styles/images/body.svg) no-repeat; background-size: cover; background-attachment: fixed; height: 100%; margin-top: 70px;} */
.site-layout-content { background: #f3f2ef; height: 100%; margin-top: 70px;background-size: cover; background-attachment: fixed; }
.site-page-header {border: 1px solid rgb(235, 237, 240); bottom: 20px; }
#components-layout-demo-top-side-2 .logo { width: 120px; height: 31px; background: rgba(255, 255, 255, 0.2); margin: 16px 28px 16px 0; float: left;}
.main { padding-top: 16px; }
.ant-card-extra a, .link-color, .link-color:hover{font-size: 12px;color: var(--primary); font-weight: 500;}
.ant-card-meta-title{font-size: 16px;}
.icons-small{width: 12px;
  height: 12px;
  vertical-align: initial;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-bottom;
  background: url(styles/images/icons.svg) no-repeat; }
.icons-small.lock-icon{background-position:-68px -398px; vertical-align: middle; cursor: default;}
.justify-content-around{display: flex;justify-content: space-around;}

/*---Friend Suggestions---*/
.friends{display: flex; overflow: hidden; margin-bottom: 6px; position: relative;}
.friends .owl-carousel{height: 310px;}
.friends-thead{display: flex;justify-content: space-between;}
.friends-thead h5{color: var(--textprimary) !important;}
.friends-list {border-radius: 10px; background: var(--white); flex: 0 0 102px; height: 130px; overflow: hidden; box-shadow: var(--boxshadow); position: relative; margin-right: 16px;}
.friends-list.one .friends-list--name{background: linear-gradient(to top, rgba(70, 10, 156, 1), rgba(70, 10, 156, 0));}
.friends-list.two .friends-list--name{background: linear-gradient(to top, rgba(112, 165, 113, 1), rgba(112, 165, 113, 0));}
.friends-list img {object-fit: cover;}
.post-icons.addfriend-icon{background-position:-433px -226px;}
.friends-list--name {position: absolute; left: 0; right: 0; bottom: 0; text-align: center; top: 60%;
background: linear-gradient(to top, rgba(18, 66, 128, 1), rgba(18, 66, 128, 0));
font-size: 14px; display: flex; justify-content: flex-end; flex-direction: column; align-items: center;padding: 8px;}
.friends-list--name .ant-typography{color: var(--white); margin-bottom: 0 !important; font-weight: 500;}
.friends-list--course {font-size: 10px; color: var(--white); display: none;}
.friends-list:hover .friends-list--course{ display: block;}
.friends-list:hover ._name{transform: translate3d(0, -3px, 0); transition: transform 80ms linear;}
.addfrnd-btn{ background: var(--primary); box-shadow: var(--boxshadow); left: 8px;  border-radius: 8px;}
.removefrnd-btn, .addfrnd-btn, .edit-groupbtn{position: absolute; top: 8px;padding: 10px;border-radius: 50%}
.removefrnd-btn{ width: 20px; height: 20px; display: inline-block; right: 8px; left: auto; background: rgba(0,0,0,0.65) url(../src/styles/images/icons.svg) no-repeat; background-position:-1px -429px; }
/* .friends-list:hover .addfrnd-btn, .friends-list:hover .removefrnd-btn{opacity: 1; transition: opacity 80ms linear;} */
.more-frnd-btn{width: 36px; height: 36px; border-radius: 50%; background: var(--white); box-shadow: var(--boxshadow); position: absolute; top: 50%; transform: translateY(-50%); right: 16px; z-index: 3;
  display: flex; align-items: center; justify-content: center;}
.more-frnd-btn.left{left: 16px;}
.icon.left-arrow{background-position: -483px -203px;}
.icon.right-arrow{background-position: -460px -203px;}
.more-frnd-btn:hover .icon.left-arrow{background-position: -483px -227px;}
.more-frnd-btn:hover .icon.right-arrow{background-position: -460px -227px;}
.more-frnd-btn.prev{left: 16px; z-index: 9;}
.more-frnd-btn.next{right: 16px; z-index: 9;}
.more-frnd-btn:hover{background: var(--primary);}
.container{padding-left: 15px;padding-right: 15px;}
.frnds-list-item{background: var(--white); border-radius: 0.8rem;margin-right: 5px;margin-left: 5px; border: 1px solid var(--line);}
.frnds-list-item img{border-radius: 0.8rem 0.8rem 0 0;}
.frnds-list-item.viewall-item{padding-top: 100%;min-height: 304px !important;}
.frnds-list-item.viewall-item a{position: absolute;top: 0;right: 0;left: 0;bottom: 0;display: flex;justify-content: center;align-items: center;background: var(--white);border-radius: 0.8rem;margin-right: 8px;color: var(--primary);padding: 24px;}
.frnds-img{height: 186px; position: relative;}
.frnd-name{font-size: var(--f-14); font-weight: 500; margin-bottom: 4px !important; width: 100%; line-height: normal; color: var(--textprimary) !important; cursor: pointer;text-transform: capitalize !important;}
.addfrnd{ color: var(--primary) !important; min-width: auto !important; min-height: 34px !important;font-size: var(--f-16) !important; border-color: var(--primary) !important; border-radius: 4px !important;width: 100%;}
.addfrnd:hover{box-shadow: inset 0 0 0 1px var(--primary-10); background: var(--primary-10) !important; 
transition-property: background-color,box-shadow,color;
transition-timing-function: cubic-bezier(.4,0,.2,1);
transition-duration: 167ms;}
.m-frnds{font-size: var(--f-12);color: var(--textsecondary) !important;}
@media (min-width: 1200px) {
  .container { width: 1180px; box-sizing: content-box; margin: auto;padding-left: 0;padding-right: 0; }
}
@media (min-width: 1600px) {
  .container { width: 1280px; box-sizing: content-box; margin: auto;padding-left: 0;padding-right: 0; }
}
.alert-popup .ant-modal-content{border-radius: 8px;}
.alert-popup .ant-modal-header{border-radius: 8px 8px 0 0;padding: 16px;}
.alert-popup .ant-modal-title {font-size: 20px;}
.alert-popup .ant-modal-body{padding: 16px;}
.alert-popup .ant-modal-footer{background: var(--grey); border-radius: 0 0 9px 8px; padding: 16px;}
.alert-icon{width: 60px;}
/*---ads---*/
.ads img, .education-date .ant-picker.ant-picker-range{width: 100%;}
.card-actions-count li{color: var(--textprimary) !important;}
.ant-dropdown-menu li :hover a{color: var(--primary) !important;}
.card-actions-count li span{color:#9B9B9B;}
.grp-type-icon,.custom-select .anticon.anticon-down{background: url(styles/images/icons.svg) no-repeat;}
.anticon-loading svg{fill: var(--primary) !important;}
.loader-middle,.loader-top-middle{display: flex;align-items: center;justify-content: center;margin-top:10px;}
.loader-middle{height: 100vh;}
/* .coming-soon{height: calc(100vh - 70px); margin-bottom: 0;display: flex;align-items: center;justify-content: center;} */
.coming-soon{height: calc(100vh - 70px);}
.coming-soon h1{font-size: 80px;margin-bottom: 0;margin-right: 15px;}
.likes-counters h4{color: var(--white);font-size: 15px;font-weight: 500;margin-bottom: 5px;}
.likes-counters p{color: var(--white);font-size: 12px;font-weight: 400;text-transform: capitalize;margin-bottom: 0;}
.ant-tooltip-content .ant-tooltip-inner{border-radius: 0.25rem;}

.likes-counters .ant-tabs-ink-bar{background: var(--white);}
@media (max-width:767px){
.coming-soon h1{font-size: 30px;margin-bottom: 0;margin-right: 10px;}
.coming-soon img{width: 50px; }
}
.ant-empty {background-color: var(--white);border-radius: 10px;margin: 0 auto !important;padding: 16px;}
.ant-empty-description{color: rgba(0, 0, 0, 0.25) !important;}
.profilename .ant-card-meta-title,.user-banner ,.post-title{text-transform: capitalize;}

