html {
  --antd-wave-shadow-color: #07a3b2;
  --scroll-bar: 0;
}

.site-layout-content {
  background: #f0f7ff url(../src/styles/images/body.svg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  bottom: 20px;
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.main{
  padding: 100px 24px 24px;
}
.right-rail{border-radius: 10px !important;box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);margin-bottom: 30px;}
.group-card .ant-card-bordered{border-radius: 10px;border-bottom: 0;}
.group-card .ant-card-body{padding: 0 !important;}
.group-card .ant-card-meta{padding: 15px;}
.group-card .ant-card-meta-detail > div:not(:last-child) {margin-bottom: 0 !important;}
.ant-avatar{border-radius: 30% !important;}
.ant-btn{border-radius: 4px !important;}
.ant-card-extra a, .link-color a{font-size: 10px;color: #07A3B2;}
.group-card .ant-card-head{font-size: 16px;color: #07A3B2;border-bottom: 1px solid #D6E6FB;}
.ant-card-meta-title{font-size: 14px;}
.icons-small{width: 10px;
  height: 10px;
  vertical-align: initial;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-bottom;
  background: url(styles/images/icons.svg) no-repeat; }
.icons-small.lock-icon{background-position: ;}
.reight-rail .ant-list-item{padding:15px}
.reight-rail .ant-list-item-meta-avatar{ margin-right: 12px;}
.reight-rail .ant-list-item-meta-title{margin-bottom: 0px;}
.f-10{font-size: 10px;}
.m-15{margin:15px}
.text-center{text-align: center;}
.reight-rail .ant-list-items{border-bottom: 1px solid #D6E6FB;}


